body {
	background: silver;
}

.col-lg-4  {
	margin-bottom: 3%;

}

.img-thumbnail {
	display: flex;
	justify-content: center;	
}

.button {
	display: flex;
	justify-content: center;	
	margin-top: 4%;
}

.qrcode {
	margin-top: 5%;
}